.first-info-block{
	padding: 70px 0;
	border-bottom: 1px solid black;

}

.first-info-block .i-b-paragraph{
	margin-bottom: 75px;
}

@media screen and (max-width: 480px) {
	.first-info-block{
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media screen and (max-width: 320px) {
	.first-info-block{
		padding: 60px 15px;
	}
}
