.footer{
	background-color: #e9ede9;
	padding: 0 0 60px 0;
	padding-bottom: 104px;

}
.footer-nav-link{
	color: #747373;
	font-family: "MyriadProSemiBold";
	font-weight: 400;
	font-size: 18px;
	letter-spacing: -0.77px;
}

.footer-nav-link:hover{
	text-decoration: underline;

}

.footer-nav-link:nth-child(n+2){
	margin-left: 36px;
}

.footer-nav-menu{
	margin-bottom: 20px;
}

.footer-container{
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

.copyright{
	font-family: "MyriadProRegular", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.77px;
	color: #958f8f;
}
/* *************************top-scroll-button********************************** */
.top-scroll-wrap {
	display: block;
    width: 48px;
    height: 47px;
    border-radius: 50%;
    background-color: #71ae5a;
    right: -12px;
    bottom: 4px;
    position: absolute;
}

.top-scroll-wrap:hover{
	background-color: #88d36b;
}

.top-scroll-wrap:active{
	background-color: #4d773d;
}

.triangle {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 14px solid #e9ede9;
    position: absolute;
    right: 14px;
    bottom: 19px;
}

/* *************************************************************** */
@media screen and (max-width: 780px){
	.footer-container{
		max-width: 680px;
	}
	.top-scroll-wrap{
		position: absolute;
		right: 0px;
    	bottom: 4px;
	}
}


@media screen and (max-width: 480px){
	.footer-container{
		max-width: 400px;
		
	}
	
	.footer .footer-nav-link{
		display: inline-block;
		
	}

	.footer-nav-link:nth-child(n+2) {
    	margin-left: 10px;
	}
	
}


@media screen and (max-width: 320px) {
	.footer-container{
		max-width: 320px;
	}
	.footer .footer-nav-link{
		display: block;
		text-align: center;
		padding-bottom: 10px;
	}

	.footer-nav-link:nth-child(n+2){
		margin-left: 0;
	}

	.top-scroll-wrap{
		right: 137px;
	    bottom: -73px;
	    position: absolute;
	}

	.triangle{
		position: absolute;
		right: 14px;
    	bottom: 19px;
	}
	.copyright{
		font-size: 13px;
		text-align: center;
	}

}
	
