.plans-block{
	background: #e8ece8;
}
.plans-container{
	max-width: 980px;
	margin: 0 auto;
	padding: 120px 0 200px 0;
	
}
.plans-container .i-b-paragraph:nth-of-type(2){
	margin-bottom: 95px;
}
/* ************************************************** */
.price{
	background: #e2e4e1;
    width: 30%;
    min-width: 250px;
    margin: 1%;
    padding: 30px 0 40px 0;
    display: inline-block;
}
.price-columns{
    max-width: 960px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.price p:nth-of-type(2){
	font-size: 32px;
	font-family: "MyriadProRegular", sans-serif;
	font-weight: 400;
	letter-spacing: -0.72px;
	margin-bottom: 15px;
}
.price span{
	font-family: "MyriadProRegular", sans-serif;
	color: #afacac;
	font-size: 33px;
	font-weight: 400;
	letter-spacing: -0.72px;
}
.price p:nth-of-type(3){
	font-family: "MyriadProRegular", sans-serif;
	color: #b38e48;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: -0.72px;
	padding-bottom: 40px;
}
.price p:first-of-type{
	font-family: "MyriadProSemiBold";
	color: #7d7b7b;
	font-size: 33px;
	font-weight: 400;
	letter-spacing: -0.72px;
	margin-bottom: 50px;
}
.price-details{
	display: inline-block;
	color: #e9ede9;
	font-family: "MyriadProRegular", sans-serif;
	border-radius: 13px;
	background-color: #71ae5a;
	padding: 11px 21px;
	font-size: 16px;
	letter-spacing: -0.72px;
	font-weight: 400;
}

.price-details:hover{
	background-color: #88d36b;
	color: #616661;
}

.price-details:active{
	background-color: #4d773d;
	color: #e9ede9
}

/* ************ media queries******************* */
@media screen and (max-width: 480px) {
	.price{
		width: 100%;
    	max-width: 100%;
		float: none;
	}
	.price:nth-child(-n+2){
		margin-bottom: 30px;
	}
	.plans-container{
		max-width: 480px;
		padding-bottom: 70px;
		padding-top: 80px;
	}
	
	.price-columns{
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 320px) {
	
	.price{
		max-width: 270px;
		float: none;
		margin: 0 auto 20px;
	}
	.price:nth-child(-n+2){
		margin-right: auto;
	}
	.price-columns{
		max-width: 320px;
	}
	.plans-container{
		width: 320px;
		padding-bottom: 50px;
		padding-top: 60px;
	}

	.plans-container .i-b-paragraph:nth-of-type(2) {
    	margin-bottom: 60px;
	}
}

